<div class="insidePage">
  <div data-d10search-nav class="nav"></div>
  <div class="insidePageBody">
    <div class="searchForm">
      <input type="text" autocapitalize="off" autocorrect="off" 
        data-ng-model="search.query" size="10" autofocus="true" placeholder="Search..."
        data-ng-disabled="search.searchInProgress"> 
      <button class="awesome"
        data-ng-disabled="!search.query || search.query.length < 3 || search.searchInProgress"
        data-hm-tap='startSearch()'>&#xF002;</button>
    </div>
    <div class="searchResults">
      <div class="noResults center" data-ng-show="search.query.length > 2 && !search.searchInProgress && search.resultsCount===0">
        No results to display
      </div>
      <div class="searchInProgress" data-ng-show="searchInProgress">
        Searching...
      </div>
      <div class="resultsContainer" 
          data-ng-show='!search.searchInProgress && search.resultsCount'>
        <div class="resultsTab">
          <span data-hm-tap="search.openedTab='title'"
                data-ng-class="{active: search.openedTab === 'title'}">
            <div class="tabArrow" data-ng-show="search.openedTab === 'title'"> </div>
            titles ({{search.results.title.length}})
          </span>
          <span data-hm-tap="search.openedTab='artist'"
                data-ng-class="{active: search.openedTab === 'artist'}">
            <div class="tabArrow"  data-ng-show="search.openedTab === 'artist'"> </div>
            artists ({{search.results.artist.length}})
          </span>
          <span data-hm-tap="search.openedTab='album'"
                data-ng-class="{active: search.openedTab === 'album'}">
            <div class="tabArrow"  data-ng-show="search.openedTab === 'album'"> </div>
            album ({{search.results.album.length}})
          </span>
        </div>
        <div class="resultsPane" data-ng-show="search.openedTab === 'title'">
          <div data-ng-show='!search.results.title.length' class="center noResults">No song found</div>
          <div data-ng-repeat='song in search.results.title' data-d10song-list class="song ellipsis songInList">
          </div>
        </div>
        <div class="resultsPane" data-ng-show="search.openedTab === 'artist'">
          <div data-ng-show='!search.results.artist.length' class="center noResults">No artist found</div>
          <div data-ng-repeat='artistSearchResult in search.results.artist' d10artist-list-item>
          </div>
        </div>
        <div class="resultsPane" data-ng-show="search.openedTab === 'album'">
          <div data-ng-show='!search.results.album.length' class="center noResults">No album found</div>
          <div data-ng-repeat='albumSearchResult in search.results.album' d10album-list-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>