<div class="insidePage" data-ng-model="titleList.toggleControls"
        data-ng-init="titleList.toggleControls=false">
  <div data-d10search-nav class="nav"></div>
  <div class="insidePageBody">
    <div class="searchForm">
      <input type="text" autocapitalize="off" autocorrect="off" 
        data-ng-model="query" size="10" autofocus="true" placeholder="Search..."
        data-ng-disabled="searchInProgress"> 
      <button class="awesome"
        data-ng-disabled="!query || query.length < 3 || searchInProgress"
        data-hm-tap='search()'>&#xF002;</button>
    </div>
    <div class="searchResults">
      <div class="noResults center" data-ng-show="query.length > 2 && !searchInProgress && resultsCount===0">
        No results to display
      </div>
      <div class="searchInProgress" data-ng-show="searchInProgress">
        Searching...
      </div>
      <div class="resultsContainer" 
          data-ng-show='!searchInProgress && resultsCount'
          data-ng-model="resultsTab.toggleControls"
          data-ng-init="resultsTab.toggleControls=false">
        <div class="resultsTab">
          <span data-hm-tap="resultsTab.toggleControls='title'"
                data-ng-class="{active: resultsTab.toggleControls === 'title'}">
            <div class="tabArrow"  data-ng-show="resultsTab.toggleControls === 'title'"> </div>
            titles ({{results.title.length}})
          </span>
          <span data-hm-tap="resultsTab.toggleControls='artist'"
                data-ng-class="{active: resultsTab.toggleControls === 'artist'}">
            <div class="tabArrow"  data-ng-show="resultsTab.toggleControls === 'artist'"> </div>
            artists ({{results.artist.length}})
          </span>
          <span data-hm-tap="resultsTab.toggleControls='album'"
                data-ng-class="{active: resultsTab.toggleControls === 'album'}">
            <div class="tabArrow"  data-ng-show="resultsTab.toggleControls === 'album'"> </div>
            album ({{results.album.length}})
          </span>
        </div>
        <div class="resultsPane" data-ng-show="resultsTab.toggleControls === 'title'">
          <div data-ng-show='!results.title.length' class="center noResults">No song found</div>
          <div data-ng-repeat='song in results.title' data-d10song-list class="song ellipsis songInList">
          </div>
        </div>
        <div class="resultsPane" data-ng-show="resultsTab.toggleControls === 'artist'">
          <div data-ng-show='!results.artist.length' class="center noResults">No artist found</div>
          <div data-ng-repeat='res in results.artist'>
            <span>{{res.value.json.value}}</span>
          </div>
        </div>
        <div class="resultsPane" data-ng-show="resultsTab.toggleControls === 'album'">
          <div data-ng-show='!results.album.length' class="center noResults">No album found</div>
          <div data-ng-repeat='albumSearchResult in results.album' d10album-list-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>