<h1>Qu'est ce qui se passe ?</h1>
<p>
Vous avez été invité à participer au projet 10er10. 10er10 est une plateforme web qui vous permet de mettre vos morceaux de musique sur le serveur, puis de les écouter, directement depuis votre navigateur.
</p>
<p>
<h1>Les différences entre 10er10 et les autres plateformes web</h1>
<h2>La communauté</h2>
<p>
Sur 10er10, chaque morceau de musique que vous mettez en ligne est immédiatement accessible aux autres utilisateurs. C'est vous qui faites la qualité du contenu du site.
<BR>
Une fois que vous avez déposé un morceau sur le serveur, vous devez le valider. Cela consiste seulement à vérifier que les informations du morceau (titre, artiste, genre...) sont correctes. 
Plus les informations sur les morceaux sont correctes, et plus le catalogue 10er10 est pertinent. 
</p>
<h2>La technologie</h2>
<p>
10er10 utilise les nouvelles technologies <a href="http://fr.wikipedia.org/wiki/HTML5" target="_new">HTML5</a> disponibles sur les navigateurs <a href="http://www.mozilla-europe.org/fr/firefox/" target="_new">Firefox</a> et <a href="http://www.google.com/chrome" target="_new">Google Chrome</a>.
Le drag'n'drop, la lecture de fichiers audio sans besoin de plugins, et plus encore : tout ceci est implémenté dans 10er10.
</p>
<h2>L'anonymat</h2>
<p>
10er10 ne conserve pas votre adresse email, n'enregistre pas vos adresses IP dans les logs du serveur web.
</p>