<h1>What happens ?</h1>
<p>
You are invited to the 10er10 project. 10er10 is a web platform to store and listen music from the web, directly through a browser.
</p>
<p>
<h1>What makes 10er10 unique</h1>
<h2>Community</h2>
<p>
On 10er10, songs you store on the website are directly accessible to the other members.
<BR>
Once your song is uploaded, you have to review it, which means to check that the meta-data (title, artist, album...) are correct. The 10er10 catalog accuracy directly depends on the meta-data accuracy.
</p>
<h2>Technology</h2>
<p>
10er10 uses new <a href="http://en.wikipedia.org/wiki/HTML5" target="_new">HTML5</a> technologies available on <a href="http://www.mozilla-europe.org/en/firefox/" target="_new">Firefox</a> and <a href="http://www.google.com/chrome" target="_new">Google Chrome</a> browsers.
Drag'n'drop, audio playback without third party plugins, and more : 10er10 is a pionner HTML5 web application.
</p>
<h2>Anonymous</h2>
<p>
10er10 don't store your email address, or the IP address you're using to connect.
</p>