<article class="review">
<div name="form">
<h1 class="airin">((title))</h1>
<p class="airin">
{{#reviewed}}
((reviewed))<BR>
{{/reviewed}}
(({introduction}))
</p>
<p class="airin center">((review_file))</p>
<form method="post" action="#">
<input type="hidden" name="_id" value="{{_id}}">
<div class="table">
	<div class="row center">
		<div class="cell airin">
			<span class="formlabel">((song_title))</span><br>
			<input type="text" name="title" value="{{title}}" autocomplete="off">
      <br>
			<div class="form_error hidden" name="title"></div>
		</div>
		<div class="cell airin">
			<span class="formlabel">((song_artist))</span><br>
			<input type="text" name="artist" value="{{artist}}" autocomplete="off">
      <div class="overlay resized"><div class="loading hidden">((loading))</div><div class="noResult hidden">((no_artist))</div><ul></ul></div><br>
			<div class="form_error hidden" name="artist"></div>
		</div>
	</div>
	<div class="row center">
		<div class="cell airin">
			<span class="formlabel">((song_album))</span><br>
			<input type="text" name="album" value="{{album}}" autocomplete="off"><br>
			<div class="overlay resized"><div class="loading hidden">((loading))</div><div class="noResult hidden">((no_album))</div><ul></ul></div>
		</div>
		<div class="cell airin">
			<span class="formlabel">((song_tracknumber))</span><br>
			<input type="text" name="tracknumber" value="{{tracknumber}}" autocomplete="off"><br>
		</div>
	</div>
	<div class="row center">
		<div class="cell airin">
			<span class="formlabel">((song_genre))</span><br>
			<input type="text" name="genre" value="{{genre}}"  autocomplete="off">
<div class="overlay resized"><div class="loading hidden">((loading))</div><div class="noResult hidden">((no_genre))</div><ul></ul></div><br>
			<div class="form_error hidden" name="genre"></div>
		</div>
		<div class="cell airin">
			<span class="formlabel">((song_date))</span><br>
			<input type="text" name="date" value="{{date}}" autocomplete="off"><br>
		</div>
	</div>
		<div class="row center">
		<div class="cell airin">
<!--       <input type="button" name="gooooo" value="Valider"> -->
      <button name="remove">Delete song</button>
      <button name="review">((review_button))</button>
		</div>
		<div class="cell airin">
      <button name="reviewNext" class="hidden">((review_and_show_next_button))</button>
			<span class="uploading hidden actiontext">((validating))</span>
		</div>
	</div>
</div>
</form>

<div class="uploadDropBox" name="{{_id}}">
	<div class="label center">((song_images))</div>
	<div class="images center">{{#images}}{{{.}}}{{/images}}</div>
</div>

<p class="center airin">
  <button name="my" data-action="review">((list_button))</button>
</p>
</div>
<div name="ok" class="hidden">
	<h1>((reviewed_title))</h1>
	<p class="airin">(({reviewed_message}))</p>
	<div class="airin center">
    <button name="my">((review_other_button))</button> 
    <button name="upload">((upload_button))</button>
  </div>
</div>
</article>
