<article class="my">
<h1>((title))</h1>
<p class="airin center">(({resume}))</p>
<div class="send">
  <h2>((send_title))</h2>
 ((send_description))
  <div class="airin">
    ((email_address)) : <input type="text" name="email"> <span name="invalidEmail" class="hidden">((email_invalid))</span> <button class="hidden">((email_send))</button>
  </div>
</div>
</article>
<article class="sent hidden">
  <h2 class="airin center">((success_title))</h2>
((success_description))
</article>
<article class="notsent hidden">
  <h2 class="airin center">((error_title))</h2>
((error_description))
</article>