<!DOCTYPE html>
<html> 
<head> 
<title>Bienvenue</title> 
<META http-equiv="Content-Type" Content="text/html; charset=utf-8"> 
<!--<link rel="stylesheet" type="text/css" href="/css/style.css" />--> 
 
<link rel="stylesheet" type="text/css" href="/css/style.css" /> 
</head> 
<body><div id="containerWrap"> 
<div id="beautyFade"> 
<div id="initialLoading"> 
	<p>Loading interface</p> 
</div> 
</div> 
<div id="browserNotSupported"> 
  <div> 
    Votre navigateur ne supporte pas les fonctionnalités HTML5 nécessaires pour ce site !
<BR> 
Ce site a été testé sous <a href="http://getfirefox.com">Mozilla Firefox</a> et <a href="http://www.google.com/chrome">Google Chrome</a>. Si vous voulez plus d'informations concernant les navigateurs, <a href="http://www.whatbrowser.org/fr/">cliquez ici</a>.
  </div> 
</div> 
<div id="osd"></div> 
<div id="container" style="display:none"> 
<header> 
  <div class="logo"> 
    <span class="d1">1</span><span class="d0">0</span><span class="e3">E</span><span class="r">R</span><span class="n1">1</span><span class="n0">0</span> 
  </div> 
  <div class="teaser">Ça va sonner.</div> 
  <div class="playing"></div> 
</header> 
 
<nav> 
	<div id="search" action="results" data-no-active-click="1" data-mm-in-effect="fadeIn"> 
		<div> 
			<input type="text" name="q" defaultvalue="Rechercher..." autocomplete="off"> <img class="middle" src="/css/16x16/actions/edit-find.png"> 
		</div> 
		<div class="label">Recherche : </div> 
		<div>Rechercher des morceaux par titre, artiste, ...</div> 
	</div> 
	<ul class="nomark"> 
		<li  action="upload" actiontype="toggle"> 
			<div><img class="middle" src="/css/22x22/actions/go-jump.png"> Uploader</div> 
			<div>Ajouter des morceaux</div> 
		</li><li action="my" actiontype="toggle"> 
			<div><img class="middle" src="/css/22x22/places/user-home.png"> Mon espace</div> 
			<div>Mes chansons, mes playlists...</div> 
		</li><li action="library" actiontype="toggle"> 
			<div><img class="middle" src="/css/22x22/places/folder-sound.png"> Catalogue</div> 
			<div>Classements par genre, popularité,...</div> 
		</li><li action="welcome" actiontype="toggle"> 
			<div><img class="middle" src="/css/22x22/categories/system-help.png"> Bienvenue</div> 
			<div>Aide, Mode d'emploi</div> 
		</li> 
 
	</ul> 
</nav> 
 
<aside id="side"> 
  <div id="reviewReminder" class="hidden"> 
Vous avez <strong></strong> morceaux à valider !
  </div> 
  <div id="controls"> 
    <div class="table" name="progressbar"> 
      <div class="row"> 
        <div class="cell"><span name="secs"></span></div> 
        <div class="cell"> 
      <div name="progression"> 
        <div class="netload"></div> 
        <div class="timer"></div> 
      </div> 
    </div> 
       <div class="cell"><span name="total"></span></div> 
      </div> 
    </div> 
    <div name="controls"> 
      <div class="table" name="controls"> 
        <div class="row"> 
          <div class="cell"> 
            <img src="/css/22x22/actions/get-hot-new-stuff.png" name="likes"> 
            <div class="tooltip"><p>J'aime ce morceau</p>Ce morceau apparaitra dans<br>"Mon espace / Les morceaux que j'aime"</div> 
            <img src="/css/22x22/actions/mail-mark-junk.png" name="dislikes"> 
            <div class="tooltip"><p>Je n'aime pas ce morceau</p>Permet de spécifier que ce morceau est mauvais.</div> 
          </div> 
          <div class="cell"> 
            <img src="/css/22x22/actions/player_start.png" name="previous" title="Morceau précédent"> 
            <img src="/css/32x32/actions/player_play.png" name="play" title="Musique ! Jouer les morceaux de la playlist"> 
            <img src="/css/32x32/actions/player_pause.png" name="pause" class="hidden" title="Mettre sur pause"> 
            <img src="/css/22x22/actions/player_end.png" name="next" title="Morceau suivant"> 
          </div> 
          <div class="cell"><div name="volume"><div name="volumein"></div></div></div> 
        </div> 
      </div> 
    </div>
	<div class="otherOptions">
		<div class="showOtherOptions link">Plus d'options...</div>
		<div class="otherOptionsContainer">
			<div class="autofill" title="Mode radio : ajoute des morceaux à la fin de la playlist"> 
				<div class="off">
					<div class="label"><strong>Mode radio</strong>: désactivé</div>
					<div class="link center expandable">Activer le mode radio</div>
				</div> 
				<div class="on hidden">
					<div class="label"><strong>Mode radio</strong>: activé</div>
					<div class="link center expandable">Options du mode radio</div>
				</div> 
				<div class="overlay hidden"> 
					<div class="center vertical-little-air">Limiter les morceaux ajoutés à la playlist aux genres suivants :</div>
					<div class="list">{{#genres}}<div name="{{.}}">{{.}}</div>{{/genres}}</div>
					<div class="close center vertical-little-air"><span class="link">fermer cette fenêtre</span></div> 
					<div class="disable center vertical-little-air"><span class="link">Désactiver le mode radio</span></div> 
				</div> 
			</div>
			<div class="audioFade">
				<div class="label"><strong>Fondu</strong> entre les morceaux</div>
				<div class="rangeSelector center expandable"><input type="range" name="fade" min="0" max="60" value="15" size="3"/> <span class="fadeValue"></span> seconde(s)</div>
			</div>
			<div class="hideOtherOptions link">Cacher les options</div>
		</div>
	</div>
  </div> 
	<div class="audioImage center"></div>
  <div class="playlisttitle"><span></span></div> 
  <div id="playlist"></div>
  <div id="playlistLoader">Chargement de la dernière liste de lecture</div>
  <div class="emptyPlaylist">Votre liste de lecture est vide.<BR><span class="link">Remplis-la !</span></div> 
  <div class="manager"> 
    <button name="new" title="Vider la liste de lecture"> 
      <img src="/css/22x22/actions/edit-clear.png" class="middle"> 
   Vider</button> 
    <button name="load" title="Charger une playlist"> 
      <img src="/css/22x22/actions/document-open.png" class="middle"> 
    Ouvrir</button> 
    <button name="save" title="Enregistrer la playlist"> 
    <img src="/css/22x22/actions/document-save.png" class="middle"> 
    Sauver</button> 
  </div> 
  <div class="saveplaylist hidden"> 
    <div class="center"> 
      <p class="airin"> 
        Enregistrer sous : <input type="text" name="name" defaultvalue="playlist name..."> 
      </p> 
      <button><img src="/css/22x22/actions/document-save.png" class="middle"> Enregistrer</button> 
      <span class="link">Euh non désolé</span> 
    </div> 
  </div> 
  <div class="updateplaylist hidden center"> 
    <p class="airin"> 
      Il éxiste déjà une playlist portant ce nom... 
    </p> 
    <button name="save"><img src="/css/22x22/actions/document-save.png" class="middle"> Enregistrer quand même</button> 
    <span class="link">Euh non désolé</span> 
  </div> 
</aside> 
 
 
 
<div id="main"> 

{{>libraryContainer}}
{{>myContainer}}
{{>uploadContainer}}
{{>welcomeContainer}}
{{>resultsContainer}}

</div> 
<div id="mainerror" class="hidden"> 
	<h1>Ouplaya !</h1><p>Le système a rencontré une erreur... :</p><div name="error"></div><span name="retry" class="link" actiontype="open">Recommencer</span> 
</div> 
 
<footer> 
Logged as {{username}} - 
<a href="{{base_url}}welcome/goodbye">logout</a> - 10er10 - <span class="hours"></span> heures de musique
</footer> 
 
</div></div> 
<div class="hidden" id="songitem"><img src="/css/22x22/apps/amarok.png"></div> 
<div class="hidden" id="waititem"><img src="/css/plsmall.gif"></div> 
<script> 
site_url="";
base_url="{{base_url}}";
window.d10 = {};
window.d10 = {
	debug: {{dbg}}, 
	debug_options: {}, 
	fn:{}, 
	config: {
		audio_root: "{{audio_root}}", 
		img_root: "{{img_root}}",
		img_size: "{{img_size}}"
	}
};
 
{{#debugAudio}}
d10.debug_options.audio = true;
{{/debugAudio}}
{{#debugNet}}
d10.debug_options.network = true;
{{/debugNet}} 


function debug() {
{{#debugloop}}
	if ( console && console.log ) {
		console.log.apply(console,arguments);
	}
{{/debugloop}}
}
debug("site_url : ",site_url);
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>  
<script src="/js/jquery.js"></script>  
{{#scripts}}<script src="/js/{{.}}"></script>  {{/scripts}}

</body> 
</html>
