<!DOCTYPE html>
<html> 
<head> 
<title>((website_title))</title> 
<META http-equiv="Content-Type" Content="text/html; charset=utf-8"> 
<!--<link rel="stylesheet" type="text/css" href="/css/style.css" />--> 
 
<link rel="stylesheet" type="text/css" href="/css/style.css" /> 
</head> 
<body><div id="containerWrap"> 
<div id="beautyFade"> 
<div id="initialLoading"> 
	<p>(({website_loading_message}))</p> 
</div> 
</div> 
<div id="browserNotSupported"> 
  <div> 
    (({err_browser_not_supported}))
  </div> 
</div> 
<div id="osd"></div> 
<div id="container" style="display:none"> 
 
<nav> 
	<div id="search" action="results" data-no-active-click="1" data-mm-in-effect="fadeIn"> 
		<div> 
			<input type="text" name="q" placeholder="((search_placeholder))" autocomplete="off"> <img class="middle" src="/css/16x16/actions/edit-find.png"> 
		</div> 
		<div class="label">((search_label))</div> 
		<div>((search_teaser))</div> 
	</div> 
	<ul class="nomark"> 
		<li  action="upload" actiontype="toggle"> 
			<div><img class="middle" src="/css/22x22/actions/go-jump.png">((upload_title))</div> 
			<div>((upload_teaser))</div> 
		</li><li action="my" actiontype="toggle"> 
			<div><img class="middle" src="/css/22x22/places/user-home.png">((my_title))</div> 
			<a href="#my/review" id="reviewReminder" class="hidden"> (({side_review_reminder_resume}))  </a>
			<div>((my_teaser))</div> 
		</li><li action="library" actiontype="toggle">
			<div><img class="middle" src="/css/22x22/places/folder-sound.png">((library_title))</div> 
			<div>((library_teaser))</div> 
		</li><li action="welcome" actiontype="toggle"> 
			<div><img class="middle" src="/css/22x22/categories/system-help.png">((welcome_title))</div> 
			<div>((welcome_teaser))</div> 
		</li> 
 
	</ul> 
</nav> 
 
<aside id="side"> 
  <div class="spectrumControl hidden">
    <div class="controls">
      <input type="checkbox" name="enable" id="spectrumCheck"/>
      <label for="spectrumCheck">((side_options_spectrum_title))</label>
    </div>
    <canvas class="hidden"/>
  </div>

  <div class="audioImage center"></div>
  <div class="playlisttitle"><span></span></div> 
  <div id="playlist"></div>
  <div id="playlistLoader">((side_playlistloader))</div>
  <div class="emptyPlaylist">((side_playlist_empty))<BR><span class="link">((side_playlist_fill))</span></div> 
  <div class="manager"> 
    <button name="new" title="((side_playlist_empty_title))"> 
      <img src="/css/22x22/actions/edit-clear.png" class="middle"> 
((side_playlist_empty_button))</button> 
    <button name="load" title="((side_playlist_load_title))"> 
      <img src="/css/22x22/actions/document-open.png" class="middle"> 
((side_playlist_load_button))</button> 
    <button name="save" title="((side_playlist_record_title))"> 
    <img src="/css/22x22/actions/document-save.png" class="middle"> 
((side_playlist_record_button))</button> 
  </div> 
  <div class="saveplaylist hidden"> 
    <div class="center"> 
      <p class="airin"> 
        ((side_playlistrecord_title))<input type="text" name="name" defaultvalue="((side_playlistrecord_placeholder))"> 
      </p> 
      <button><img src="/css/22x22/actions/document-save.png" class="middle">((side_playlistrecord_button))</button> 
      <span class="link">((side_playlistrecord_cancel))</span> 
    </div> 
  </div> 
  <div class="updateplaylist hidden center"> 
    <p class="airin"> 
      ((side_playlistrecord_playlist_name_exists))
    </p> 
    <button name="save"><img src="/css/22x22/actions/document-save.png" class="middle">((side_playlistrecord_playlist_name_exists_button</button> 
    <span class="link">((side_playlistrecord_cancel))</span> 
  </div> 
</aside> 
 
 
 
<div id="main"> 

{{>libraryContainer}}
{{>myContainer}}
{{>uploadContainer}}
{{>welcomeContainer}}
{{>resultsContainer}}
</div> 
 
<footer> <span class="loggedin">
((website_logged_as)) {{username}} - 
<a class="logout" href="#">((website_logout))</a></span>
<span class="loggingOut hidden">((website_logging_out))</span> - 10er10 - <span class="hours"></span> ((website_total_playing_length))
<div class="langChooser">
	<select name="lang">
		{{#langs}}
		<option value="{{id}}" {{#checked}}selected{{/checked}}>{{label}}</option>
		{{/langs}}
	</select>
</div>
</footer> 
 
<div id="player">
  <div class="side">
    <div class="logo"> 
      <span class="d1">1</span><span class="d0">0</span><span class="e3">E</span><span class="r">R</span><span class="n1">1</span><span class="n0">0</span> 
    </div> 
    <div class="teaser">((website_teaser))</div> 
    <div class="remoteControl hidden"><img src="css/64x64/devices/input-gaming.png"></div>
  </div>
  <div class="player">
    <div class="controls">
      <div class="volumeAndStarringControl">
        <div name="volume"><div name="volumein" ></div></div>
        <img src="/css/22x22/actions/get-hot-new-stuff.png" name="likes">
        <img src="/css/22x22/actions/mail-mark-junk.png" name="dislikes"> 
      </div>
      <div class="playerControls">
        <img src="/css/48x48/actions/player_play.png" name="play" title="((side_play_title))"> 
        <img src="/css/48x48/actions/player_pause.png" name="pause" class="hidden" title="((side_pause_title))"> 
        <img src="/css/32x32/actions/player_start.png" name="previous" title="((side_previous_title))"> 
        <img src="/css/32x32/actions/player_end.png" name="next" title="((side_next_title))"> 
      </div>
    </div>
    <div class="playlistOptions">
      <span data-target="radio">Radio ▾</span>
      <span data-target="fading">Fading ▾</span>
      <span data-target="mix">Mix ▾</span>
    </div>
    <div class="mainScreen">
      <div class="currentTime"></div>
      <div class="totalTime"></div>
      <div class="songTitle"></div>
      <div name="progression"> 
        <div class="netload"></div> 
        <div class="timer"></div> 
      </div> 
      <div class="otherSongFields">
        <span class="songArtist"></span>
        <span class="songAlbum"></span>
      </div>
    </div>
  </div>
</div>
<div class="fading yellowOverlay controlOverlay">
    <div class="label">(({side_options_audiofade_title}))</div>
    <div class="rangeSelector center expandable">
      <input type="range" name="fade" min="0" max="60" value="15" size="3"/>
      <span class="fadeValue"></span> ((side_options_audiofade_seconds))
    </div>
</div>
<div class="mix yellowOverlay controlOverlay">
    <div class="label center">((side_options_mix_title))</div>
    <div class="center expandable">
      <div class="notPreloaded">((side_options_mix_waiting_preload))</div>
      <div class="preloaded hidden center airin">
          <select name="mixType"><option value="none">--</option></select>
          <button disabled="true">((side_options_mix_choose))</button>
          <div class="description hidden"></div>
      </div>
    </div>
</div>
<div class="radio yellowOverlay controlOverlay" title="((side_options_radiomode_title))"> 
  <div class="off">
    <div class="label">(({side_options_radiomode_disabled}))</div>
    <div class="link center expandable">((side_options_radiomode_enable))</div>
  </div> 
  <div class="on"> 
    <div class="label">(({side_options_radiomode_enabled}))</div>
    <div class="disable center"><span class="link">((side_radiomode_disable))</span></div>
    <div class="center vertical-air">((side_radiomode_genre_selector_title))</div>
    <div class="list">{{#genres}}<div name="{{.}}">{{.}}</div>{{/genres}}</div>
  </div> 
</div>

</div></div> 
<div class="hidden" id="songitem"><img src="/css/22x22/apps/amarok.png"></div> 
<div class="hidden" id="waititem"><img src="/css/plsmall.gif"></div>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<script src="/js/jquery.min.js"></script>
{{#scripts}}<script src="/js/{{.}}"></script>{{/scripts}}

<script>

function debug() {
{{#debugloop}}
	if ( console && console.log ) {
		console.log.apply(console,arguments);
	}
{{/debugloop}}
}

define("js/config",[], function() {
var cfg = {
		site_url: "",
		base_url: "{{base_url}}",
        debug: {{dbg}}, 
        debug_options: {}, 
        audio_root: "{{audio_root}}", 
        img_root: "{{img_root}}",
        img_size: "{{img_size}}",
        img_default: "{{img_default}}",
        rpp: {{rpp}},
        invites: {
                ttl: {{invites_ttl}}
        },
		library: {
			defaultTab: "{{libraryDefaultTab}}"
		},
        cookieName: "{{cookieName}}"
};
cfg.img_default = cfg.img_default.split(",");
{{#debugAudio}}
cfg.debug_options.audio = true;
{{/debugAudio}}
{{#debugNet}}
cfg.debug_options.network = true;
{{/debugNet}} 
return cfg;
});

require(["js/bootstrap"],function() {
	debug("bootstrapped");
});
require(["js/playlist.modules"],function() { debug("PLAYLIST MODULES LOADED "); });
</script>

</body> 
</html>
