* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

@font-face {
  font-family: awesome;
  src: url('fontawesome-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

.awesome {
  font-family: awesome;
  -webkit-font-smoothing: antialiased;
}
  

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-size: medium;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
}

.lighter {
  color: #BFBFBF;
}

.center {
  text-align: center;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noPeer {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-flex-flow: column;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.remoteDisplay {
  margin-top: 5em;
}

.remoteDisplay > .miniPlayer {
  position: fixed;
  height: 4.9em;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  border-bottom: 0.1em solid rgb(20,47,60);
}

.remoteDisplay > .miniPlayer > .controls {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-flex-flow: row;
  -webkit-align-content: center;
  -webkit-align-items: flex-start;
  -webkit-justify-content: center;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;  
}

.remoteDisplay > .miniPlayer > .controls > span.playpause > button,
.remoteDisplay > .miniPlayer > .controls > span.playnext > button,
.remoteDisplay > .miniPlayer > .controls > span.playprevious > button {
  padding: 0.6em;
  border-radius: 1em;
  border: none;
  text-align: center;
  
}

.remoteDisplay > .miniPlayer > .controls > span.playpause > button {
  font-size: 1.4em;
}
.remoteDisplay > .miniPlayer > .controls > span.playnext > button {
  font-size: 1.2em;
}

.remoteDisplay > .miniPlayer > .controls > span.playprevious > button {
  font-size: 1.2em;
}

.playerList .song {
  background-color: #333;
  margin: 2px;
  padding: 1px;
}

.playerList .song.active .sonTitle{
  padding-left: 0.5em;
}

.playerList .song.active .songTitle:before {
  content: "\f04b";
  font-family: awesome;
  -webkit-font-smoothing: antialiased;
  font-size: 0.5em;
  background-color: #EEE;
  border-radius: 3.5em;
  padding: 0.25em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.playerList .songInformations > .songTitle {
  display: block;
  color: rgb(79, 180, 228);
}

.playerList .song  .songTitle ,
.playerList .song  .songArtist,
.playerList .song  .songOtherArtist {
  color: rgb(79, 180, 228);
  text-shadow: 1px 1px black;
}


.playerList .song  .songOtherArtist:not(:last-child):after { display: inline; content: " , "; }

.playerList .song .songControls {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -webkit-align-content: center;
  -webkit-align-items: stretch;
  -webkit-justify-content: center;
  flex-flow: row;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  
  margin-top: 0.3em;
  height: 4em;
}

.playerList .song .songControls > div{
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: space-around;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  
  border: 1px solid #CFCFCF;
  background-color: #BFBFBF;
  color: #333;
}

.playerList .song .songControls > div > div:first-child {
  flex: 0 1 auto;
  -webkit-flex:  0 1 auto;
  font-size: 2em;
}

.playerList .song .songControls > div > div:last-child {
  flex:  0 1 auto;
  -webkit-flex:  0 1 auto;
}