* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

@font-face {
  font-family: awesome;
  src: url('fontawesome-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

.awesome {
  font-family: awesome;
  -webkit-font-smoothing: antialiased;
}
  

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-size: medium;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
}

.lighter {
  color: #BFBFBF;
}

.center {
  text-align: center;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noPeer {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-flex-flow: column;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.app {
  margin-top: 5em;
}

.app > .miniPlayer {
  position: fixed;
  height: 4.9em;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(4,39,44);
  border-bottom: 0.1em solid blue;
}

.app > .miniPlayer > .controls {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-flex-flow: row;
  -webkit-align-content: center;
  -webkit-align-items: flex-start;
  -webkit-justify-content: center;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;  
}

.app > .miniPlayer > .controls > button {
  padding: 0.6em;
  border-radius: 1em;
  border: none;
  text-align: center;
  font-size: 1.4em;
}

.playerList .song {
  background-color: #333;
  margin: 2px;
  padding: 1px;
}

.playerList .song > .songTitle {
  display: block;
  color: rgb(79, 180, 228);
}

.playerList .song  .songTitle ,
.playerList .song  .songArtist,
.playerList .song  .songOtherArtist {
  color: rgb(79, 180, 228);
}


.playerList .song  .songOtherArtist:not(:last-child):after { display: inline; content: " , "; }
