<div class="remoteDisplay playerList">
  <div class="miniPlayer">
    <div class="controls">
      <span d10playprevious></span>
      <span d10playpause></span>
      <span d10playnext></span>
    </div>
  </div>

  <div data-ng-model="titleList.toggleControls"
        data-ng-init="titleList.toggleControls=false">
    <div class="song ellipsis songInList" data-ng-repeat="song in remoteView.playlist" data-ng-class='{active: $index === remoteView.index}' data-d10song-player-list>
    </div>
  </div>
</div>